
.input-default, input {
    padding: 0px 4px;
    border-radius: 0;
    height: 24px;
    box-shadow: none;
    border: 1px solid #ccc;
}
    .input-default:focus, input:focus {
        border: 1px solid #0071c1;
        outline-offset: unset !important;
        outline: none !important;
    }

    input[type=date] {
        text-align: center;
    }

.not-required{
    border: 1px solid #ff0000;
}